.item {
   border-bottom: 1px solid #E5E5E5;
    line-height: 2.2;
}

.item:last-of-type {
}

.users {
    width: 600px;
}

.buttonsContainer {
}

.container {
}

.thead {
    line-height: 2.2;
    font-size: 14px;
    font-weight: 600;
    background-color: #E5E5E5;
}

.nameCol {
    text-align: start;
    padding-left: 20px;
    border-bottom: 1px solid #E5E5E5;
}

.ageCol {
    text-align: start;
    padding-left: 20px;
    border-bottom: 1px solid #E5E5E5;
}