.container {
}

.wrapper {
    /*position:relative;*/
    display: flex;
    width: 260px;
    gap: 12px;
    align-items: center;
}

.number {
    /*position: absolute;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    display: flex;
}
